<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/places"></ion-back-button>
        </ion-buttons>
    <ion-title>
     World
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-list>
   <ion-card *ngFor="let item of photos">
     <img [src]="item.thumbnailUrl">
<ion-card-content>
  <p>{{item.title}}</p>
  <p>{{item.id}}</p>  : <a [href]="item.url" target="blank">{{item.url}}</a>
</ion-card-content>
   </ion-card>
 </ion-list>
</ion-content>
